# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

add_two(4)

6

In [2]:
# Lambda function syntax
# Example of calling a lambda function immediately
(lambda x: x+2)(4)

6

#### Saving to a Variable

In [4]:
f_test = lambda x: x + 2
f_test

In [5]:
f_test(4)

6

#### Multiple Inputs

In [7]:
# Multiple inputs with no variables
(lambda x,y,z: x + y + z)(1,2,3)

6

In [8]:
multi_test = lambda x,y,z: x + y + z
multi_test(4,5,6)

15

#### Passing a Lambda into a Function

In [9]:
# Passing a function into a function
def apply_func(f, name):
    return f(name)

def get_first_letter(a_string):
    return a_string[0]

apply_func(get_first_letter, 'brian')

'b'

In [10]:
apply_func(lambda a_string: a_string[0], 'codingtemple')

'c'

#### Returning a Lambda from a Function

In [13]:
# Returning a function from a function
def multiply_test(num):
    a = 5
    def inner(c,d):
        return (a * num) - (c * d)
    return inner

test = multiply_test(30)
test

In [14]:
test(3,5)

135

In [15]:
def return_lambda(num):
    a = 5
    return lambda c,d: (num * a) - (c * d)

lamb_test = return_lambda(15)
print(lamb_test)
print(type(lamb_test))

<function return_lambda.<locals>.<lambda> at 0x000001DD83BEC0D0>
<class 'function'>

In [16]:
lamb_test(3,5)

60

#### If Statements within Lambdas

In [18]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2

do_something(11)

22

In [22]:
# Lambda input(s): return TRUE if (condition) else return FALSE

do_lambda = lambda num: num * 2 if num > 10 else num + 2
do_lambda(11)

22

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [23]:
f = lambda x: x**3

In [24]:
f(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [30]:
# map(function, iterable)
# map with regular functions
def squared_minus_two(a):
    return a**2 - 2

numbers = [2, 5, 7, 8, 9, 10, 3, 2]

mapped_nums = map(squared_minus_two, numbers)
list(mapped_nums)

[2, 23, 47, 62, 79, 98, 7, 2]

In [35]:
# map with regular function and multiple iterables
nums = [2, 5, 4, 7, 9]
more_nums = [3, 4, 6, 1]

def some_func(a, b):
    if a > b:
        return (a, b**2)
    else:
        return (b, a**2)

list(map(some_func, nums, more_nums))   # runs as long as the shortest list

[(3, 4), (5, 16), (6, 16), (7, 1)]

#### Using Lambda's with Map

In [37]:
# Map with lambda and multiple iterables
list(map(lambda a,b: (a,b**2) if a > b else (b, a**2), nums, more_nums))

[(3, 4), (5, 16), (6, 16), (7, 1)]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd

In [39]:
nums = [1, 2, 3, 4, 5, 6, 7]

list(map(lambda x: x*2 if x % 2 == 0 else x / 2, nums))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [48]:
# filter(function, iterables) -> if function = None, returns True values
names = ['Bob', 'Andy', 'Max', 'Evan', 'Angelica']

def starts_with_a(name):
    return name[0].lower() == 'a':
names_mapped = list(map(starts_with_a, names))
print(names_mapped)
names_filtered = list(filter(starts_with_a, names))
print(names_filtered)

[False, True, False, False, True]
['Andy', 'Angelica']

#### Using Lambda's with Filter()

In [ ]:
a_names = list(filter(lambda n: n[0].lower() == 'a', names))

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [50]:
from statistics import mean

In [54]:
nums = [15, 3, 57, 8, 13, 56, 40, 83, 83, 90]
print(mean(nums))
list(filter(lambda x: x < mean(nums), nums))

44.8

[15, 3, 8, 13, 40]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [56]:
from functools import reduce

#### Using Lambda's with Reduce()

In [60]:
list_1 = [2, 4, 6, 8, 10]

def add_nums(num1, num2):
    print(f"num1: {num1}")
    print(f"num2: {num2}")
    return num1 + num2

result_add = reduce(add_nums, list_1)
print(result_add)

num1: 2
num2: 4
num1: 6
num2: 6
num1: 12
num2: 8
num1: 20
num2: 10
30

In [63]:
# Using for-loop
total = 0
for num in list_1:
    total += num
print(total)

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [62]:
result_multiply = reduce(lambda x,y: x * y, list_1)
print(result_multiply)

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [65]:
def full_name(first, last):
    return first + ' ' + last

def greet_person(first, last, day_of_week):
    person_full_name = full_name(first, last)
    print(f'Hello {person_full_name}, it sure is beautiful on this {day_of_week}!')
    
greet_person('Brian', 'Stanton', 'Tuesday')

Hello Brian Stanton, it sure is beautiful on this Tuesday!

#### Implementing a Base Case

In [74]:
def add_nums(num, total):
    if total > 100:
        return
    else:
        total += num
        print(total)
        add_nums(num, total)
    

add_nums(5, 0)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105

#### Writing a Factorial Function

In [82]:
def factorial_func(n):
    if n <= 1:
        return 1
    else:
        return n * factorial_func(n-1)

factorial_func(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [88]:
def my_range(start, stop, step=1):
    while start < stop:
        yield(start)
        start += step

for x in my_range(0, 9):
    print(x)

0
1
2
3
4
5
6
7
8

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [111]:
def squared_generator(start, step=1):
    while start > 0:
        yield(start ** 2)
        start -= step

for x in squared_generator(10):
    print(x)

100
81
64
49
36
25
16
9
4
1

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [102]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

# Converts strings with whitespaces into empty strings
no_whitespaces = list(map(lambda x: x.strip(), places))

# Filter with None return only True values (empty strings are FALSE values)
print(list(filter(None, no_whitespaces)))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [117]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [133]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

In [140]:
# Splits the name into first, middle and last
# Grabs the last item in the newly split names
# i.e. Gary A.J. Bernstein will grab index[2] and Joel Carter will grab index[1], etc.
# Lowercases the letter and then the lambda function is passed in as the key for the sort function
# Sort, sorts IN-PLACE so the original list is changed
author.sort(key=(lambda name: name.rsplit()[len(name.split())-1].lower()))
author

['Victor aNisimov',
 'Gary A.J. Bernstein',
 'Joel Carter',
 'Andrew P. Garfield',
 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [108]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

list(map(lambda x: (x[0], x[1] * 9/5 + 32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [1]:
def fib(num):
    # Base cases
    if num <= 1:
        return num
    else:
        return (fib(num-1) + fib(num-2))
print(fib(5))

5